.movie-container{
    max-width: 1440px;
    background-color: white;
    padding: 10px 20px;
    height: calc(100vh - 70px);
    margin: auto;
    padding: 0px 20px;
    display: flex;
    
    gap: 40px;
    overflow: scroll;
    
}
.image{
    width: 300px;
    flex-shrink: 0;
    margin-top: 30px;
}
.image img{
    width: 100%;
}
.movie-details{
    padding-bottom: 20px;  
    margin-top: 25px; 
}
.details{
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(233, 230, 230);
    padding: 10px;
    text-align: left !important;
}
.movie-details button{
    padding: 10px 15px;
    margin: 10px 0px;
    color: white;
    background-color: var(--primary);
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.1s ease-in;
    border: 2px solid var(--primary);
    cursor: pointer;
}
.movie-details button:hover{
    color: var(--primary);
    background-color: white;
}
@media screen and (max-width: 720px) {
    .movie-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
    }
    .movie-details{
        margin-top: 0px;
    }
}
