.card{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    transition: all 0.1s ease-in;
}
.card:hover{
    scale:1.04;
    
    box-shadow: 0px 0px 5px 0px gray;
}
.card img{
    width: 100%;
    aspect-ratio: 42/59;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card .rating{
    margin-top: -2.6%;
    color: white;
    padding: 6px 10px;
    background-color: black;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 200;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .name{
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;
    
}
